useDynLib(hapFabia)

import("methods","stats","utils","graphics","grDevices","Biobase","fabia")

export("makePipelineFile",
       "hapFabiaVersion",
       "findDenseRegions",
       "matrixPlot",
       "plotHaplotypeCluster",
       "sim",
       "iterateSegments",
       "identifyDuplicates",
       "analyzeHaploClusters",
       "hapFabia",
       "simulateHaplotypeClusters",
       "split_sparse_matrix",
       "vcftoFABIA",
       "simulateHaploClustersFabia",
       "HaploClusterList",
       "HaploCluster"
       )

exportClasses("HaploCluster","HaploClusterList")

exportMethods("plot",
              "summary",
              "[[",
              "[[<-",
              "[",
              "[<-",
              "topLZ",
              "plotL",
              "histL",
              "extractHaploClusters",
              "ID",
              "ID<-",
              "bicluster_id",
              "bicluster_id<-",
              "chromosome",
              "chromosome<-",
              "haploClusterPos",
              "haploClusterPos<-",
              "haploClusterLength",
              "haploClusterLength<-",
              "numberIndividuals",
              "numberIndividuals<-",
              "numbertagSNVs",
              "numbertagSNVs<-",
              "individuals",
              "individuals<-",
              "tagSNVs",
              "tagSNVs<-",
              "populationIndividuals",
              "populationIndividuals<-",
              "idIndividuals",
              "idIndividuals<-",
              "labelIndividuals",
              "labelIndividuals<-",
              "platformIndividuals",
              "platformIndividuals<-",
              "coreClusterIndividuals",
              "coreClusterIndividuals<-",
              "tagSNVPositions",
              "tagSNVPositions<-",
              "tagSNVAlleles",
              "tagSNVAlleles<-",
              "tagSNVNames",
              "tagSNVNames<-",
              "tagSNVFreq",
              "tagSNVFreq<-",
              "tagSNVGroupFreq",
              "tagSNVGroupFreq<-",
              "tagSNVChange",
              "tagSNVChange<-",
              "tagSNVsPerIndividual",
              "tagSNVsPerIndividual<-",
              "individualPerTagSNV",
              "individualPerTagSNV<-",
              "tagSNVAnno",
              "tagSNVAnno<-",
              "haploClusters",
              "haploClusters<-",
              "lengthList",
              "lengthList<-",
              "statistics",
              "statistics<-",
              "setAnnotation",
              "setStatistics",
              "compareHaploClusterLists",
              "mergeHaploClusterLists",
              "haploClusterList2excel"
              )

